body {
  padding: 20px;
  background: #deeaf1;
  font-family: "Quicksand", sans-serif;
}

.weatherApp {
  border: 2px solid white;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 5px;
}

.search-form {
  margin-bottom: 10px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 60px;
  font-weight: bold;
  max-width: 100%;
  line-height: 1;
  padding: 0px;
  margin-top: 20px;
  margin-left: 9px;
}

ul {
  padding: 0px;
}

li {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  margin-left: 8px;
}

li:first-letter {
  text-transform: capitalize;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  margin-right: 5px;
}

.units {
  position: relative;
  top: -20px;
  left: -10px;
}

.units .active {
  color: black;
  cursor: default;
}

.units .active:hover {
  text-decoration: none;
}

.weatherIcon {
  padding: 0;
  margin: 0 auto;
}

.forecast {
  background: white;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bold;
  padding: 20px 10px 20px 10px;
}
.day {
  border: 5px solid #deeaf1;
  width: 150px;
  border-radius: 1px;
  padding: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 3px;
}

.row {
  margin: 0 auto;
  padding: 0;
}

.col-2 {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

h3 {
  font-size: 14px;
  text-align: center;
}

.weather-forecast-temperature {
  text-align: center;
  font-size: 14px;
}

.fas {
  text-align: center;
  padding: 0px;
  color: grey;
  font-size: 50px;
  padding: 20px;
}
