body {
  padding: 20px;
  background: #deeaf1;
}

.weatherApp {
  border: 2px solid white;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 5px;
}

.search-form {
  margin-bottom: 10px;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 76px;
  font-weight: bold;
  max-width: 100%;
  line-height: 1;
  padding: 0px;
  margin-top: 20px;
  margin-left: 9px;
}

ul {
  padding: 0px;
}

li {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  list-style-type: none;
  margin-left: 5px;
}

.temperature {
  font-size: 50px;
  font-weight: bold;
  line-height: 1;
  margin-right: 5px;
}

.units {
  position: relative;
  top: -20px;
  left: -10px;
}

.weatherIcon {
  padding: 0;
  margin: 0 auto;
}

.forecast {
  background: white;
  width: fit-content;
  height: fit-content;
  text-align: center;
  font-weight: bold;
  padding: 20px 10px 20px 10px;
}
.day {
  border: 5px solid #deeaf1;
  width: 150px;
  border-radius: 1px;
  padding: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  border-radius: 3px;
}

.row {
  margin: 0 auto;
  padding: 0;
}
.fas {
  display: block;
  margin: 0 auto;
  color: grey;
  font-size: 50px;
  padding: 20px;
}

.col-2 {
  margin-left: 0;
  padding-left: 0;
  width: 100px;
}

.col-5 {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 250px;
}
